<div class="container">
<a [routerLink]="['/']" class="back-link">← Retour/Annuler </a>
  <h1>Gestion des Classes</h1>

  <button class="add-group-btn" (click)="addGroup()">+ Ajouter une classe</button>

  <div class="groups">
    <div *ngFor="let group of groups; let i = index" class="group-card">
      <input [(ngModel)]="group.classe.nom" placeholder="Nom du groupe" class="group-name-input" />

      <button class="remove-group-btn" (click)="removeGroup(i)">Supprimer la classe</button>

      <!-- Autocomplete pour ajouter un membre -->
      <input [(ngModel)]="group.searchText"
             placeholder="Ajouter un élève"
             [attr.list]="'studentsList' + i"
             (input)="group.errorMessage=''"/>

      <!-- Datalist unique pour chaque classe -->
      <datalist [id]="'studentsList' + i">
        <option *ngFor="let eleve of getFilteredStudents(group.classe)" [value]="eleve.prenom + ' ' + eleve.nom"></option>
      </datalist>

      <button (click)="addToGroup(group)">Ajouter</button>

      <!-- Message d'erreur -->
      <div class="error" *ngIf="group.errorMessage">{{ group.errorMessage }}</div>

      <ul>
        <li *ngFor="let eleve of group.classe.eleves ? group.classe.eleves : []">
          {{ eleve.prenom + ' ' + eleve.nom }}
          <button (click)="removeFromGroup(group.classe, eleve)">Supprimer</button>
        </li>
      </ul>
    </div>
  </div>
<div class="save-container">
  <button class="save-btn" (click)="saveAndGoBack()">Sauvegarder</button>
</div>

</div>
