<body>

  <div class="profile">
    <img *ngIf="profile().role === 'etudiant'" src="assets/photo_etudiant.png" alt="Photo de profil étudiant">
    <img *ngIf="profile().role === 'admin'" src="assets/photo_etudiant.png" alt="Photo de profil admin">
    <--A remplacer par une photo d'admin-->
    <h2>{{profile().nom + ' ' + profile().prenom}}</h2>
    <p>{{profile().email}}</p>
    <button (click)="logout()">Se déconnecter</button>
  </div>


  <div class="repositories">
    <div class="repo-list">
     <a [routerLink]="['/createGroup']" class="repo">
        <h4>Modifier les groupes</h4>
      </a>
      <a [routerLink]="['/createQCM']" class="repo">
        <h4>Cree un QCM</h4>
      </a>
    </div>

    <div class="qcm-section">
      <hr>
      <h1>Mes QCMs :</h1>
      <div class="qcm-list">
        <div class="qcm-list">
          <div class="qcm-item">
            <div class="qcm-info">
              <h4>QCM 1</h4>
              <p>Chapitre 1 - HTML</p>
            </div>
            <div class="qcm-scores">
              <span class="score-eleve">Élève : 15/20</span>
              <span class="score-moyenne">Moyenne: 13/20</span>
            </div>
            <button class="qcm-btn" [routerLink]="['/doQCM']">Effectuer</button>
          </div>

          <div class="qcm-item">
            <div class="qcm-info">
              <h4>QCM 2</h4>
              <p>Chapitre 2 - CSS</p>
            </div>
            <div class="qcm-scores">
              <span class="score-eleve">Élève : 12/20</span>
              <span class="score-moyenne">Moyenne : 14/20</span>
            </div>
            <button class="qcm-btn" [routerLink]="['/doQCM']">Effectuer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
